.container {
    display: flex
}

.centered {
    justify-content: center;
    align-items: center;
}

body {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#result {
    flex-direction: column;
    align-items: center;
}

#rps-container {
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

#game-stats {
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#points {
    gap: 16px;
}
h2 {
    margin-top: 32px;
    margin-bottom: 4px;
    padding: 0;
}

p {
    margin-top: 4px;
    margin-bottom: 0px;
}